.Input{
	border:1px solid green;
	border-radius: 5px;
font-family: 'Lato', sans-serif}

.Input.Invalid{
	background-color: hsla(360, 80%, 95%, 1);
}

small {
	color: hsla(360, 100%, 58%, 1);
	transition: 0.2s;
	font-family: "Lato", sans-serif;
}

input:focus ~ small {
	display:none;
}

input.form-control:focus{
box-shadow: 0px 0px 3px hsl(122, 60%, 80%);
border:1px solid hsl(122, 60%, 80%);
}